<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css" type="text/css"charset="utf-8">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    {% block styles %}

    {% endblock %}
    <title>Workify</title>
</head>

<body>
    {% block content%}
    
    {% endblock %}
</body>

{% block scripts %}

{% endblock %}

</html>